/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#import_url_iframe {
    float: right;
    height: 500px;
    width: 800px;
}
.tabbable {
    float: right;
    height: -100px;
    margin-top: -1050px;
}
#pane1{
     float: right;
 }

#preview_tab{
   float: left;
   width: 800px;
}